* {
    box-sizing: border-box;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
display: flex;
justify-content: space-between;
height: 69px;
align-content: center;
padding: 1em;
border-bottom: 1px solid seashell;
}

.header-right {
    display: flex;
    text-decoration: underline;
}

.tea-title {
    width: 50px;
    white-space: nowrap;
}

.header-inner-right {
    padding-left: .5em;
    padding-right: .5em;
}

.outer-content1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content1 {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 700px; 
    width: 1200px; 
    position: relative;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
    background-color: black;
    /*margin-left: 110px; */
    margin-bottom: 100px;
}

.img1-text {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img1-text h2 {
    padding: .5em;
}

.img1-text h4 {
    padding: .5em;
}

.center-text {
    text-align: center;
    margin-bottom: 20px;
}

.content2-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 100px;
}

.img-group2 {
    height: 200px;
    width: 300px;    
}

.content3 {
    background-repeat: no-repeat;
    background-position: center;
    max-height: 500px;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
    overflow: hidden;
    margin-bottom: 10px;
}

.content3-header {
    padding: 30px;
}

.content3-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 40px;
}

.content3-squares {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    height: 300px;
    opacity: 1;
}

.footer-text {
    text-align: left;
    margin-left: 20px;
    font-size: 16px;
}